<template>
    <h1>Upgrade Device Firmware</h1>

    <p>Please select devices and firmware version.</p>

    <p if.bind="!mydevices"><em>Loading...</em></p>
    <div css="display: ${mode!='list' ? 'none' : 'block'}">
        <table if.bind="mydevices" class="table table-bordered table-condensed">
            <thead>
                <tr>
                    <th>Select</th>
                    <th>Name</th>
                    <th>Desc</th>
                    <th>IP</th>
                    <th>Firmaware Ver.</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="device of mydevices">
                    <td><input type="checkbox" checked.bind="device.isSelect"> </td>
                    <td>${ device.name }</td>
                    <td>${ device.desc }</td>
                    <td>${ device.ipAddress }</td>
                    <td>${ device.firmwareVersion }</td>
                    <td>${ device.location }</td>
                   

                </tr>
            </tbody>
        </table>
        <button class="btn" id='btnExecute' click.trigger='Execute()'>Upgrade Device Now !</button>
    </div>
   

</template>
